eb setenv \
NEXT_PUBLIC_APP_URL=http://zendora.eba-eangsdrm.ap-southeast-1.elasticbeanstalk.com \
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXNzdXJlZC1idW5ueS03NC5jbGVyay5hY2NvdW50cy5kZXYk \
CLERK_SECRET_KEY=sk_test_KIDAO9rog8S7R62srSsSL5wfUF38NExYvZP2FWBIMA \
CLERK_WEBHOOK_SIGNING_SECRET=whsec_AViTkJqkQFkUhRjq9/yqv6jtf2OxEEmo \
CLERK_TELEMETRY_DISABLED=1 \
NEXT_PUBLIC_CLERK_TELEMETRY_DISABLED=1 \
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in \
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up \
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard \
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard \
NEXT_PUBLIC_SUPABASE_URL=https://ymmwevxdicyqnvvkqrzg.supabase.co \
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mbZt-6taOY7nLBA-Yw92DQ_tYJLHXE1 \
NEXT_PUBLIC_SUPABASE_ANON_KEY= \
SUPABASE_SECRET_KEY= \
SUPABASE_SERVICE_ROLE_KEY= \
SUPABASE_PRODUCT_IMAGE_BUCKET=product-images \
SUPABASE_STORAGE_S3_ACCESS_KEY_ID=970bfad9a48471d529e186265f4cf2b5 \
SUPABASE_STORAGE_S3_SECRET_ACCESS_KEY=fc38fbb14229d763fb6bde88438a00447c6748e90d184450477034124d290846 \
SUPABASE_STORAGE_S3_REGION=ap-south-1 \
SUPABASE_STORAGE_S3_ENDPOINT=https://ymmwevxdicyqnvvkqrzg.storage.supabase.co/storage/v1/s3